@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222725;
    height: 100vh;
}

.field {
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    background: black;
    border: solid thin;
    height: 6vmin;
    padding: 0;
    width: 6vmin;
}
