@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

.minesweeper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 10vmin;*/
    padding: 5vmin;
    /*height: 100vh;*/
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.logo-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.app-name {
    font-family: "Ranchers", cursive;
    color: white;
    font-size: 1.5rem;
}

.app-logo {
    height: 7vmin;
    /*pointer-events: none;*/
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.status-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flags-counter .timer {
    color: white;
    font-family: "Ranchers", cursive;
}

.reset {
    border: solid;
    background: white;
}

.field {
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    background: black;
    border: solid thin;
    height: 6vmin;
    padding: 0;
    width: 6vmin;
}